.stock {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 20px);
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    &-header {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      max-width: 1300px;
      .button {
        &--secondary {
          font-weight: 400;
          gap: 30px;
          font-size: 14px;
          padding: 0.95em 1.2em;
          border-radius: 6px;
          .ico {
            font-size: inherit;
            width: 1em;
            height: 1em;
            svg {
              fill: $white;
            }
          }
        }
      }
      .input {
        width: 100% !important;
        max-width: 512px;
        input {
          font-size: 14px;
          padding: 1.07em 4em 1.07em 1em;
          border-radius: 8px;
          border: 1px solid $gray-2;
          color: $black-6;
          &::placeholder {
            color: #838383;
          }
        }
        .ico {
          left: unset;
          right: 15px;
        }
      }
    }
    &-group {
      display: flex;
      gap: 10px;
      max-width: 460px;
    }
    &-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 14px;
      h3 {
        font-weight: 400;
      }
      p {
        color: $black-6;
        line-height: 1.2em;
        max-width: 280px;
        font-weight: 400;
      }
      h4 {
        font-weight: 400;
        color: $black-2;
        &._lg {
          color: $primary;
        }
      }
      &._lg {
        flex: 1 0 0;
        max-width: 512px;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      h3 {
        color: $primary;
        white-space: nowrap;
        font-weight: 400;
        small {
          font-size: 12px;
          color: $black-6;
        }
      }
      &-iamge {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 94px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    &-tabs {
      display: flex;
      gap: 26px;
      &-button {
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 14px;
        position: relative;
        color: $black-6;
        @include transition;
        cursor: pointer;
        font-family: $font-primary;
        &:after {
          content: "";
          width: 10px;
          height: 4px;
          border-radius: 2px;
          background: $black;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          @include transition;
        }
        &:hover {
          color: $black;
          &::after {
            opacity: 1;
          }
        }
        &.active {
          color: $primary;
          &::after {
            background: $primary;
            opacity: 1;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    &-body {
      display: flex;
      flex-direction: column;
      gap: 18px;
      height: 100%;
    }
    &-table {
      overflow-x: auto;
      padding: 2px 0;
      // height: calc(100vh - 443px);
      &-wrapper {
        position: relative;
        flex: 1;
        min-height: 340px;
      }
    }
    &__footer {
      display: flex;
      flex-direction: column;
    }
  }
  .input {
    width: auto;
    font-size: 10px;
    input {
      &:checked + label {
        .checkBox {
          border-color: $orange-2;
          background: $orange-2;
          &:after {
            border-color: $white;
            opacity: 1;
          }
        }
      }
    }
    label {
      color: $white;
      gap: 5px;
      .text {
        font-size: 14px;
        padding-top: 2px;
      }
      .checkBox {
        border: 2px solid $white;
        border-radius: 2px;
      }
    }
    &._select {
      margin-bottom: 16px;
      display: none;
      label {
        color: $black-6;
        font-weight: 600;
        gap: 14px;
        .checkBox {
          border-color: #dddddd;
        }
      }
    }
  }
  &Table {
    font-size: 16px;
    border-collapse: collapse;
    font-weight: 400;
    width: 100%;
    thead {
      position: relative;
      &::before {
        content: "";
        width: calc(100% - 2px);
        height: 100%;
        position: absolute;
        top: -4px;
        left: 0;
        pointer-events: none;
        background: $white-2;
        z-index: -1;
      }
      tr {
        position: relative;
        &::after {
          content: "";
          width: calc(100% - 2px);
          height: 100%;
          border: 1px solid $gray-2;
          position: absolute;
          bottom: 0;
          left: 0;
          pointer-events: none;
          border-radius: 8px 8px 0 0;
        }
      }
      position: sticky;
      top: 0;
      left: 0;
      background: $white-2;
      z-index: 2;
    }
    th {
      font-size: 1em;
      color: $black-6;
      white-space: nowrap;
      text-align: left;
      padding: 0.7em 18px 1.1em;
      font-weight: 400;
      .input {
        &--checkBox {
          .checkBox {
            border-radius: 2px;
            border-color: $gray-2;
            border-width: 1px;
          }
        }
        .text {
          font-weight: 400;
          font-size: 16px;
          color: $black-6;
          white-space: nowrap;
          margin-left: 20px;
        }
      }
    }
    td {
      font-size: 1em;
      white-space: nowrap;
      text-align: left;
      padding: 26px 17px 22px;
      font-weight: 400;
      .input {
        &--checkBox {
          .checkBox {
            border-radius: 2px;
            border-color: $gray-2;
            border-width: 1px;
          }
        }
        .text {
          font-weight: 400;
          white-space: nowrap;
          text-align: left;
          font-size: 16px;
          margin-left: 20px;
        }
      }
      h4 {
        font-weight: 400;
      }
      .text,
      h4,
      small {
        @include ellipsis(1);
        max-width: 200px;
        display: block;
      }
    }
    tbody {
      tr {
        position: relative;
        &::after {
          content: " ";
          width: calc(100% - 2px);
          height: calc(100% - 20px);
          position: absolute;
          top: 10px;
          left: 0;
          border: 1px solid $gray-2;
          border-radius: 8px;
          pointer-events: none;
          @include transition;
        }
        &:first-child {
          td {
            margin-top: 8px;
          }
        }
        &.active {
          &::after {
            border-color: $black-6;
          }
        }
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      gap: 5px;
      small {
        font-size: 12px;
        color: #165f76;
      }
      h4 {
        font-size: 16px;
      }
    }
    &__group {
      display: flex;
      gap: 16px;
      &-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 20px;
        color: $primary;
        .ico {
          width: 1em;
          height: 1em;
          color: inherit;
          transition: 0.3s ease-in;
          svg {
            fill: $primary;
          }
        }
        .text {
          font-size: 12px;
          color: inherit;
          font-weight: 400;
          transition: 0.2s ease-in;
        }
        &:hover {
          color: $orange;
        }
        &:disabled {
          opacity: 0.6;
        }
      }
    }
    &__wrapper {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    &__header {
      font-size: 1em;
      color: $black-6;
      white-space: nowrap;
      text-align: left;
      font-weight: 400;
      display: none;
    }
  }
  &Pagination {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: $white-2;
    padding: 14px 0 14px;
    height: 72px;
    animation-name: fadeInUp;
    animation-duration: 0.3s;
    &__box {
      display: flex;
      align-items: center;
      gap: 30px;
      h5 {
        display: flex;
        font-weight: 400;
        gap: 5px;
        .ico {
          width: 12px;
          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }
      h6 {
        font-weight: 400;
        color: $black-7;
      }
      .input {
        max-width: 250px;
        &__selected {
          display: flex;
          font-weight: 400;
          gap: 5px;
          border-color: transparent;
          color: $black-7;
          padding: 6px 30px 6px 14px;
        }
        &__dropdown {
          border: 1px solid $gray;
          top: calc(100% + 7px);
          gap: 5px;
          overflow-y: auto;
          border-radius: 5px;
          &::-webkit-scrollbar-track {
            background: transparent !important;
            overflow: hidden;
          }
          &-item {
            padding: 5px 0;
          }
        }
        &.active {
          .input {
            &__dropdown {
              max-height: 80px;
            }
          }
        }
      }
    }
    &__body {
      display: flex;
      gap: 15px;
      align-items: center;
      transition: 0.3s ease-in-out;
      &-group {
        display: flex;
        gap: 5px;
      }
      .button {
        transition: 0.3s ease-in-out;
        color: $primary;
        svg {
          fill: currentColor;
          g {
            fill: currentColor;
          }
        }
        &:active {
          background: $primary;
          color: $white;
        }
      }
      h6 {
        color: $gray;
        font-weight: 400;
        opacity: 0;
        transition: 0.3s ease-in-out;
      }
      &:hover {
        .button {
          padding: 1em 1.15em;
          border-color: $primary;
        }
        h6 {
          opacity: 1;
        }
      }
    }
    &._hide {
      display: none;
    }
  }
  &Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary;
    padding: 20px 15px;
    border-radius: 6px 6px 0 0;
    margin: 0 -15px;
    gap: 16px;
    border: 1px solid $gray;
    overflow: hidden;
    &__group {
      display: flex;
      align-items: center;
      gap: 38px;
    }
    &__box {
      display: flex;
      align-items: center;
      gap: 54px;
      h5 {
        color: $white;
      }
    }
  }
  &Dropdown {
    &__button {
      font-size: 16px;
      font-weight: 400;
      display: flex;
      gap: 8px;
      .ico {
        width: 1em;
        height: 1em;
        color: $primary;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &:disabled {
        opacity: 0.95;
        pointer-events: none !important;
        .ico {
          opacity: 0.4;
        }
      }
    }
    &__content {
      position: absolute;
      top: 134px;
      left: 0;
      width: 100%;
      z-index: 2;
      display: none;
      &-body {
        width: 100%;
        background: $white-2;
        border: 1px solid $gray-2;
        border-radius: 8px;
        padding: 18px 17px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @include transition;
        z-index: 2;
      }
      &-image {
        width: calc(20% - 10px);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
        }
      }
      &-column {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: calc(17% - 5px);
        max-width: 170px;
      }
      &-box {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        h4 {
          font-weight: 400;
          color: $gray;
          font-size: 16px;
        }
        h5 {
          font-weight: 400;
          position: relative;
          padding: 5px 10px 6.3px;
          &::after {
            content: "";
            width: 100%;
            height: 1px;
            background: $gray;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        .input {
          margin: 0 auto;
          width: 100%;
          max-width: unset;
        }
      }
      &-tab {
        width: calc(29% - 20px);
        max-width: 420px;
      }
      &-close {
        position: absolute;
        width: 24px;
        height: 24px;
        display: flex;
        top: 16px;
        right: 16px;
        color: $black;
        @include transition;
        cursor: pointer;
        display: none;
        &::before,
        &::after {
          content: "";
          width: 100%;
          height: 2px;
          background: currentColor;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:hover {
          color: $orange;
        }
      }
      &.active {
        display: flex;
        .stock {
          &Dropdown {
            &__content {
              &-body {
                border-color: $black-6;
              }
            }
          }
        }
      }
    }
    &__tab {
      display: flex;
      flex-direction: column;
      gap: 20px;
      &-button {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 14px;
        position: relative;
        color: $black-6;
        @include transition;
        cursor: pointer;
        font-family: $font-primary;
        &:after {
          content: "";
          width: 10px;
          height: 4px;
          border-radius: 2px;
          background: currentColor;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          opacity: 1;
          // @include transition;
        }
        &:hover {
          color: $black;
          &::after {
            opacity: 1;
          }
        }
        &.active {
          color: $primary;
          &::after {
            opacity: 1;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        &:disabled {
          opacity: 0.7;
        }
      }
      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-content {
        flex-direction: column;
        gap: 10px;
        display: none;
        &.active {
          display: flex;
        }
      }
      &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5 {
          font-weight: 400;
          color: $primary;
        }
      }
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border: 1px solid $gray-2;
        border-radius: 8px;
        h5 {
          font-weight: 400;
          color: $primary;
        }
        .ico {
          width: 20px;
          height: 20px;
          color: $primary;
          svg {
            stroke: currentColor;
          }
        }
      }
      &-body {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    .dropdown {
      z-index: 2;
      &__button {
        padding: 6px 14px;
        border-radius: 4px;
        border: 1px solid $gray;
      }
      .text {
        font-size: 14px;
        font-weight: 400;
        color: $gray;
      }
      .ico {
        color: $gray;
        width: 18px;
        svg {
          stroke: currentColor;
        }
      }
      &__content {
        border-color: $gray;
        padding: 6px 14px;
        gap: 10px;
        border-radius: 0 0 4px 4px;
        border-top: unset;
      }
      &:hover {
        .dropdown__button {
          border-radius: 4px 4px 0 0;
        }
      }
    }
  }
  .autoContainer {
    height: 100%;
  }
}
@mixin stock-1440 {
}
@mixin stock-1280 {
  .stock {
    &Dropdown {
      &__content {
        &-body {
          flex-wrap: wrap;
          gap: 40px 20px;
        }
        &-tab {
          width: calc(50% - 16px);
          max-width: 400px;
        }
        &-image {
          width: calc(50% - 16px);
        }
        &-column {
          width: calc(33.3% - 16px);
          max-width: 280px;
          order: 1;
        }
      }
    }
  }
}
@mixin stock-1180 {
  .stock {
    &Footer {
      &__group {
        gap: 24px;
      }
      &__box {
        gap: 40px;
      }
    }
  }
}
@mixin stock-1025 {
  .stock {
    &__inner {
      &-group {
        width: 100%;
        max-width: unset;
        justify-content: space-between;
      }
      &-header {
        flex-wrap: wrap;
      }
      &-box {
        &._lg {
          max-width: unset;
          .input {
            max-width: unset;
          }
        }
      }
      &-table {
        overflow: unset;
      }
    }
    &Footer {
      &__group {
        gap: 20px;
      }
      .button {
        min-width: 170px;
      }
    }
    &Table {
      thead {
        display: none;
      }
      tbody {
        display: flex;
        flex-wrap: wrap;
        gap: 22px 12px;
        justify-content: space-between;
        tr {
          width: calc(50% - 8px);
          &::after {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
          &:first-child {
            td {
              margin: unset;
            }
          }
        }
      }
      td {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .text,
        h4,
        small {
          max-width: 184px;
        }
      }
      &__box {
        text-align: right;
      }
      &__header {
        display: flex;
      }
      &__wrapper {
        gap: 16px;
      }
    }
    &Dropdown {
      &__content {
        flex-wrap: wrap;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 20px;
        background-color: rgba($black, 0.3);
        backdrop-filter: blur(4px);
        z-index: 4;
        &-body {
          width: 100%;
          padding-top: 60px;
          position: relative;
          padding: 60px 20px 30px;
          margin: auto;
        }
        &-close {
          display: block;
        }
      }
    }
    .input {
      &._select {
        display: inline-flex;
      }
    }
  }
}
@mixin stock-940 {
  .stock {
    &Footer {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      &__group {
        gap: 24px;
      }
    }
    &Table {
      &__group {
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
        max-width: 180px;
        &-button {
          width: 40px;
        }
      }
    }
  }
}
@mixin stock-750 {
  .stock {
    &Dropdown {
      &__content {
        &-tab {
          width: 100%;
          max-width: unset;
          order: 1;
        }
        &-column {
          width: calc(33.3% - 16px);
          max-width: 280px;
        }
        &-image {
          width: 100%;
          max-width: 500px;
          margin: 0 auto;
        }
      }
    }
    &Table {
      tbody {
        tr {
          width: 100%;
        }
      }
    }
  }
}
@mixin stock-650 {
  .stock {
    &__inner {
      &-header {
        flex-direction: column;
      }
      &-box {
        width: 100% !important;
      }
      &-group {
        width: 100%;
      }
      &-tabs {
        &-button {
          font-size: 18px;
        }
      }
    }
    &Footer {
      &__group {
        flex-wrap: wrap;
        width: 100%;
        max-width: unset;
        gap: 16px;
        justify-content: space-between;
      }
      .button {
        width: calc(33.3% - 12px);
        min-width: auto;
      }
    }
    &Dropdown {
      &__content {
        &-tab {
          width: 100%;
          max-width: unset;
          order: 1;
        }
        &-column {
          width: calc(50% - 10px);
        }
      }
    }
  }
}
@mixin stock-580 {
  .stock {
    &__inner {
      &-tabs {
        &-button {
          font-size: 16px;
        }
      }
    }
    &Footer {
      .button {
        width: calc(50% - 12px);
      }
    }
    &Pagination {
      flex-direction: column;
      gap: 16px;
      height: auto;
      &__body {
        margin-left: auto;
      }
      &__box {
        .input {
          &.active {
            .input {
              &__dropdown {
                max-height: 120px;
              }
            }
          }
        }
      }
    }
  }
}
@mixin stock-480 {
  .stock {
    &Dropdown {
      &__content {
        &-column {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    &Table {
      th {
        font-size: 14px;
      }
      td {
        font-size: 14px;
        .text,
        h4,
        small {
          max-width: 170px;
        }
      }
    }
  }
}
@mixin stock-390 {
  .stock {
    &Pagination {
      &__box {
        flex-direction: column;
        gap: 16px;
      }
    }
    &Dropdown {
      &__content {
        padding: 10px;
        &-body {
          padding: 60px 16px 30px;
        }
      }
    }
  }
}
