.stock {
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  min-height: 800px;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    &-header {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      max-width: 1300px;
      .button {
        &--secondary {
          font-weight: 400;
          gap: 30px;
          font-size: 14px;
          padding: 0.95em 1.2em;
          border-radius: 6px;
          .ico {
            font-size: inherit;
            width: 1em;
            height: 1em;
            svg {
              fill: $white;
            }
          }
        }
      }
      .input {
        width: 100% !important;
        max-width: 512px;
        input {
          font-size: 14px;
          padding: 1.07em 4em 1.07em 1em;
          border-radius: 8px;
          border: 1px solid $gray-2;
          color: $black-6;
          &::placeholder {
            color: #838383;
          }
        }
        .ico {
          left: unset;
          right: 15px;
        }
      }
    }
    &-group {
      display: flex;
      gap: 10px;
      max-width: 460px;
    }
    &-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 14px;
      h3 {
        font-weight: 400;
      }
      p {
        color: $black-6;
        line-height: 1.2em;
        max-width: 280px;
        font-weight: 400;
      }
      h4 {
        font-weight: 400;
        color: $black-2;
        &._lg {
          color: $primary;
        }
      }
      &._lg {
        flex: 1 0 0;
        max-width: 512px;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      h3 {
        color: $primary;
        white-space: nowrap;
        font-weight: 400;
        small {
          font-size: 12px;
          color: $black-6;
        }
      }
      &-iamge {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 94px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    &-tabs {
      display: flex;
      gap: 26px;
      &-button {
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 14px;
        position: relative;
        color: $black-6;
        @include transition;
        cursor: pointer;
        font-family: $font-primary;
        &:after {
          content: "";
          width: 10px;
          height: 4px;
          border-radius: 2px;
          background: $black;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          @include transition;
        }
        &:hover {
          color: $black;
          &::after {
            opacity: 1;
          }
        }
        &.active {
          color: $primary;
          &::after {
            background: $primary;
            opacity: 1;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    &-body {
      display: flex;
      flex-direction: column;
      gap: 18px;
      height: 100vh;
    }
    &-table {
      overflow: auto;
      padding: 2px 0;
      // height: calc(100vh - 443px);
      min-height: 340px;
      flex: 1 0 0;
    }
    &__footer {
      display: flex;
      flex-direction: column;
    }
  }
  .input {
    width: auto;
    font-size: 10px;
    input {
      &:checked + label {
        .checkBox {
          border-color: $orange-2;
          background: $orange-2;
          &:after {
            border-color: $white;
            opacity: 1;
          }
        }
      }
    }
    label {
      color: $white;
      gap: 5px;
      .text {
        font-size: 14px;
        padding-top: 2px;
      }
      .checkBox {
        border: 2px solid $white;
        border-radius: 2px;
      }
    }
  }
  &Table {
    font-size: 16px;
    border-collapse: collapse;
    font-weight: 400;
    width: 100%;
    thead {
      position: relative;
      &::before {
        content: "";
        width: calc(100% - 2px);
        height: 100%;
        position: absolute;
        top: -4px;
        left: 0;
        pointer-events: none;
        background: $white-2;
        z-index: -1;
      }
      tr {
        position: relative;
        &::after {
          content: "";
          width: calc(100% - 2px);
          height: 100%;
          border: 1px solid $gray-2;
          position: absolute;
          bottom: 0;
          left: 0;
          pointer-events: none;
          border-radius: 8px 8px 0 0;
        }
      }
      position: sticky;
      top: 0;
      left: 0;
      background: $white-2;
      z-index: 2;
    }
    th {
      font-size: 1em;
      color: $black-6;
      white-space: nowrap;
      text-align: left;
      padding: 0.7em 18px 1.1em;
      font-weight: 400;
      .input {
        &--checkBox {
          .checkBox {
            border-radius: 2px;
            border-color: $gray-2;
            border-width: 1px;
            opacity: 0;
          }
          input {
            &:checked + label {
              .checkBox {
                border-color: $gray-2;
                opacity: 1;
              }
            }
          }
        }
      }
    }
    td {
      font-size: 1em;
      white-space: nowrap;
      text-align: left;
      padding: 26px 17px 22px;
      font-weight: 400;
      .input {
        &--checkBox {
          .checkBox {
            border-radius: 2px;
            border-color: $gray-2;
            border-width: 1px;
          }
        }
      }
      h4 {
        font-weight: 400;
      }
    }
    tbody {
      tr {
        position: relative;
        &::after {
          content: " ";
          width: calc(100% - 2px);
          height: calc(100% - 20px);
          position: absolute;
          top: 10px;
          left: 0;
          border: 1px solid $gray-2;
          border-radius: 8px;
          pointer-events: none;
          @include transition;
        }
        &:first-child {
          td {
            margin-top: 8px;
          }
        }
        &.active {
          &::after {
            border-radius: 8px 8px 0 0;
            border-color: $black-6;
          }
        }
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      gap: 5px;
      small {
        font-size: 12px;
        color: #165f76;
      }
    }
    &__group {
      display: flex;
      gap: 16px;
      &-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 20px;
        color: $primary;
        .ico {
          width: 1em;
          height: 1em;
          color: inherit;
          transition: 0.3s ease-in;
          svg {
            fill: $primary;
          }
        }
        .text {
          font-size: 12px;
          color: inherit;
          font-weight: 400;
          transition: 0.2s ease-in;
        }
        &:hover {
          color: $orange;
        }
        &:disabled {
          opacity: 0.6;
        }
      }
    }
  }
  &Pagination {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: $white-2;
    padding: 14px 0 14px;
    height: 72px;
    animation-name: fadeInUp;
    animation-duration: 0.3s;
    &__box {
      display: flex;
      gap: 30px;
      h5 {
        display: flex;
        font-weight: 400;
        gap: 5px;
        .ico {
          width: 12px;
          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }
      h6 {
        font-weight: 400;
        color: $black-7;
      }
    }
    &__body {
      display: flex;
      gap: 15px;
      align-items: center;
      transition: 0.3s ease-in-out;
      &-group {
        display: flex;
        gap: 5px;
      }
      .button {
        transition: 0.3s ease-in-out;
        color: $primary;
        svg {
          fill: currentColor;
          g {
            fill: currentColor;
          }
        }
        &:active {
          background: $primary;
          color: $white;
        }
      }
      h6 {
        color: $gray;
        font-weight: 400;
        opacity: 0;
        transition: 0.3s ease-in-out;
      }
      &:hover {
        .button {
          padding: 1em 1.15em;
          border-color: $primary;
        }
        h6 {
          opacity: 1;
        }
      }
    }
    &._hide {
      display: none;
    }
  }
  &Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary;
    padding: 20px 15px;
    border-radius: 6px 6px 0 0;
    margin: 0 -15px;
    gap: 16px;
    border: 1px solid $gray;
    overflow: hidden;
    &__group {
      display: flex;
      align-items: center;
      gap: 38px;
    }
    &__box {
      display: flex;
      align-items: center;
      gap: 54px;
      h5 {
        color: $white;
      }
    }
  }
  &Dropdown {
    &__button {
      font-size: 16px;
      font-weight: 400;
      display: flex;
      gap: 8px;
      .ico {
        width: 1em;
        height: 1em;
        color: $primary;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
     
      &:disabled {
        opacity: 0.95;
        pointer-events: none !important;
        .ico{
          opacity: .4;
        }
      }
    }
    &__content {
      position: absolute;
      top: calc(100% - 8px);
      left: 0;
      width: 100%;
      background: $white-2;
      border: 1px solid $gray-2;
      border-top: unset;
      border-radius: 0 0 8px 8px;
      z-index: 1;
      padding: 18px 17px;
      display: none;
      justify-content: space-between;
      @include transition;
      &-image {
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
        }
      }
      &-column {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      &-box {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        h4 {
          font-weight: 400;
          color: $gray;
        }
        h5 {
          font-weight: 400;
          position: relative;
          padding: 0 10px 2px;
          &::after {
            content: "";
            width: 100%;
            height: 1px;
            background: $gray;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
      &-tab {
        width: 25%;
      }
      &.active {
        display: flex;
        border-color: $black-6;
      }
    }
    &__tab {
      display: flex;
      flex-direction: column;
      gap: 20px;
      &-button {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 14px;
        position: relative;
        color: $black-6;
        @include transition;
        cursor: pointer;
        font-family: $font-primary;
        &:after {
          content: "";
          width: 10px;
          height: 4px;
          border-radius: 2px;
          background: currentColor;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          opacity: 1;
          // @include transition;
        }
        &:hover {
          color: $black;
          &::after {
            opacity: 1;
          }
        }
        &.active {
          color: $primary;
          &::after {
            opacity: 1;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        &:disabled {
          opacity: 0.7;
        }
      }
      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-content {
        flex-direction: column;
        gap: 10px;
        display: none;
        &.active {
          display: flex;
        }
      }
      &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5 {
          font-weight: 400;
          color: $primary;
        }
      }
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border: 1px solid $gray-2;
        border-radius: 8px;
        h5 {
          font-weight: 400;
          color: $primary;
        }
        .ico {
          width: 20px;
          height: 20px;
          color: $primary;
          svg {
            stroke: currentColor;
          }
        }
      }
      &-body {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    .dropdown {
      z-index: 2;
      &__button {
        padding: 6px 14px;
        border-radius: 4px;
        border: 1px solid $gray;
      }
      .text {
        font-size: 14px;
        font-weight: 400;
        color: $gray;
      }
      .ico {
        color: $gray;
        width: 18px;
        svg {
          stroke: currentColor;
        }
      }
      &__content {
        border-color: $gray;
        padding: 6px 14px;
        gap: 10px;
        border-radius: 0 0 4px 4px;
        border-top: unset;
      }
      &:hover {
        .dropdown__button {
          border-radius: 4px 4px 0 0;
        }
      }
    }
  }
  .autoContainer {
    height: 100%;
  }
}
@mixin stock-1440 {
  .stock {
    height: calc(100vh - 120px);
  }
}
@mixin stock-1180 {
  .stock {
    &Footer {
      &__group {
        gap: 24px;
      }
      &__box {
        gap: 40px;
      }
    }
  }
}
@mixin stock-1025 {
  .stock {
    &__inner {
      &-header {
        flex-wrap: wrap;
      }
      &-box {
        &:nth-child(3) {
          width: 50%;
        }
      }
      &-table {
      }
    }
    &Footer {
      &__group {
        gap: 20px;
      }
      .button {
        min-width: 170px;
      }
    }
  }
}
@mixin stock-940 {
  .stock {
    &Footer {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      &__group {
        gap: 24px;
      }
    }
  }
}
@mixin stock-750 {
  .stock {
    &__inner {
      &-header {
        flex-direction: column;
      }
      &-box {
        width: 100% !important;
      }
      &-group {
        width: 100%;
      }
    }
  }
}
@mixin stock-650 {
  .stock {
    &__inner {
      &-tabs {
        &-button {
          font-size: 18px;
        }
      }
    }
    &Footer {
      &__group {
        flex-wrap: wrap;
        width: 100%;
        max-width: unset;
        gap: 16px;
        justify-content: space-between;
      }
      .button {
        width: calc(33.3% - 12px);
        min-width: auto;
      }
    }
  }
}
@mixin stock-580 {
  .stock {
    height: calc(100vh - 90px);
    &__inner {
      &-tabs {
        &-button {
          font-size: 16px;
        }
      }
    }
    &Footer {
      .button {
        width: calc(50% - 12px);
      }
    }
    &Pagination {
      flex-direction: column;
      gap: 16px;
      height: auto;
      &__body {
        margin-left: auto;
      }
    }
  }
}
@mixin stock-390 {
  .stock {
    &Pagination {
      &__box {
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
