.calendar {
  padding: 0;
  &__inner {
    &-content {
      padding: 20px 30px;
      border: 1px solid $white-6;
      border-radius: 16px;
      background: $white;
      display: flex;
      flex-direction: column;
      gap: 26px;
      &._secondary {
        background: transparent;
        border: unset;
        padding-top: 25px;
      }
      &._sm {
        padding: 0;
      }
    }
    &-header {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;
      h2 {
        color: $primary;
        font-weight: 400;
      }
      h3 {
        font-weight: 400;
      }
      h4 {
        color: $black-8;
        font-weight: 400;
      }
      .date {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
      }
      .button {
        &--primary {
          font-weight: 400;
          border-radius: 8px;
        }
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      gap: 14px;
      &-column {
        width: calc(14.28% - 10px);
        min-width: 180px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        h4 {
          &._lg {
            color: #9f9f9f;
            font-weight: 400;
            text-align: center;
            margin-bottom: 20px;
          }
        }
      }
    }
    &-table {
      max-height: 450px;
      overflow: auto;
      &._lg {
        max-height: 500px;
      }
      &._extraLg {
        max-height: 700px;
      }
    }
    &-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      padding: 30px 0 16px;
      .input {
        &--borderDropdown {
          .ico {
            color: #77838f;
          }
        }
        &__selected {
          border-color: $black-10;
        }
        &__dropdown {
          border-color: $black-10;
        }
        .text {
          color: #77838f;
        }
      }
      &-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .ico {
          width: 14px;
          height: 14px;
        }
        h5 {
          font-weight: 400;
          color: #77838f;
          line-height: 1;
        }
      }
      .button {
        &--icoText {
          gap: 10px;
          font-size: 14px;
          color: #77838f;
          font-weight: 400;
          @include transition;
          .ico {
            color: #77838f;
            @include transition;
            svg {
              fill: currentColor;
            }
          }
          &:hover {
            color: $orange;
            .ico {
              color: $orange;
            }
          }
        }
      }
    }
    &-body {
      display: flex;
      align-items: center;
      gap: 30px;
      &-group {
        display: flex;
        align-items: center;
        gap: 10px;
        h6 {
          color: $primary;
          font-weight: 500;
        }
      }
    }
    &-avatars {
      display: flex;
      align-items: center;
      .avatar {
        margin-left: -10px;
        font-size: 14.5px;
        &:nth-child(1) {
          margin: 0;
        }
      }
    }
  }
  &Table {
    width: 100%;
    border-collapse: collapse;
    th {
      color: $black-9;
      font-weight: 400;
      font-size: 18px;
      padding: 0 10px 25px;
      white-space: nowrap;
    }
    td {
      padding: 0 10px 14px;
      vertical-align: top;
    }
    &._sm {
      .calendarTable {
        &__column {
          min-height: 190px;
          justify-content: space-between;
        }
      }
      td {
        padding: 28px 10px 18px;
      }
      tbody {
        tr {
          &:first-child {
            td {
              padding-top: 0;
            }
          }
        }
      }
    }
    &__item {
      padding: 15px;
      border: 1px solid $white-6;
      border-radius: 12px;
      background: #fafafa;
      box-shadow: 0 3px 6px rgba($black, 0.2);
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      gap: 5px;
      min-height: 134px;
      min-width: 160px;
      strong,
      h5 {
        color: $black-8;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        white-space: nowrap;
      }
      &-info {
        font-size: 16px;
        color: $black-8;
        font-weight: 400;
        line-height: 1.4em;
        display: flex;
        flex-direction: column;
        letter-spacing: -0.5px;
        flex: 1;
        .text {
          display: block;
          white-space: nowrap;
          line-height: 1.2;
          &._primary {
            font-size: 15px;
            font-weight: 700;
            color: $primary;
            margin-top: 14px;
          }
          &._bottom {
            margin-top: auto;
            font-size: 9px;
          }
        }
      }
      &-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      &._sm {
        border-radius: 12px;
        padding: 10px 15px;
        min-height: unset;
        .calendarTable {
          &__item {
            &-box {
              flex-direction: row;
              gap: 10px;
              justify-content: space-between;
              h5 {
                font-size: 13px;
              }
            }
          }
        }
      }
      &._header {
        padding: 35px 10px 10px;
        align-items: center;
        justify-content: center;
        &::before {
          content: "";
          width: calc(100% + 2px);
          height: 26px;
          background: $orange;
          position: absolute;
          top: -1px;
          left: -1px;
          border-top-right-radius: inherit;
          border-top-left-radius: inherit;
        }
      }
      &._primary {
        min-height: 140px;
        min-width: 130px;
        background: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: unset;
        h4 {
          color: $white;
          font-weight: 400;
        }
      }
      &._secondary {
        background: rgba($orange-2, 0.3);
        min-height: 140px;
        min-width: 130px;
        box-shadow: unset;
        h5 {
          font-size: 12px;
        }
        .text {
          font-size: 12px;
          &._primary {
            font-size: 15px;
          }
          &._bottom {
            font-size: 9px;
          }
        }
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 14px;
      &._bottom {
        align-items: flex-end;
        justify-content: flex-end !important;
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      gap: 8px;
      white-space: nowrap;
      .text {
        font-size: 14px;
        color: #77838f;
        line-height: 1;
        font-weight: 400;
        &._lg {
          font-size: 15px;
          color: $black-8;
          font-weight: 500;
          line-height: 1;
        }
      }
    }
    &__devider {
      position: relative;
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #e3e3e4;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &__title {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .text {
        color: #77838f;
        font-weight: 400;
        font-size: 16px;
        display: block;
        &._lg {
          font-size: 22px;
          font-weight: 500;
        }
      }
    }
    &--border {
      th {
        padding-bottom: 12px;
      }
      td {
        border-right: 1px solid #e3e3e4;
        padding: 10px 8px 8px !important;
      }
      .calendarTable {
        &__column {
          min-height: 170px;
        }
      }
    }
  }
  &__slider {
    margin-bottom: 28px;
    padding-left: 48px;
    position: relative;
    &-item {
      padding: 10px 15px;
      background: rgba($primary, 0.4);
      border-radius: 16px;
      max-width: 166px;
      display: flex !important;
      flex-direction: column;
      gap: 5px;
    }
    &-image {
      border-radius: 24px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 108px;
      height: 45px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-info {
      font-size: 12px;
      font-weight: 400;
      color: #24242c;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      max-width: 106px;
      margin: 0 auto;
      .text {
        display: block;
        &._primary {
          color: $primary;
        }
      }
      &._sm {
        gap: 0;
      }
    }
    .swiper {
      &-arrow {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        .ico {
          width: 100%;
          height: 100%;
          color: $black;
          @include transition;
          svg {
            fill: currentColor;
            stroke: unset;
          }
        }
        &-prev {
          left: 11px;
          top: 50%;
          transform: translateY(-50%);
        }
        &-next {
          right: 11px;
          top: 50%;
          transform: translateY(-50%);
        }
        &:hover {
          .ico {
            color: $orange;
          }
        }
      }
    }
    &:after {
      content: "";
      width: 48px;
      height: 100%;
      background: linear-gradient(to right, rgba($white, 0), rgba($white, 1));
      position: absolute;
      right: -1px;
      top: 0;
      z-index: 1;
    }
  }
  &--notifications {
    width: calc(100% - 430px);
  }
  .button {
    &--drag {
      position: absolute;
      top: 0;
      right: 15px;
    }
  }
}
.date {
  display: flex;
  align-items: center;
  gap: 25px;
  .button {
    .ico {
      color: $primary;
      @include transition;
      svg {
        color: inherit;
        stroke: currentColor;
        &.fill {
          stroke: unset;
        }
      }
    }
    &:hover {
      .ico {
        color: $orange;
      }
    }
  }
  h3,
  h4,
  h5 {
    white-space: nowrap;
    font-weight: 400;
  }
  h5 {
    color: #77838f;
  }
  &--lg {
    min-width: 260px;
    justify-content: space-between;
    .button {
      width: 1em;
      height: 1em;
      .ico {
        color: $black-10;
      }
    }
  }
  &__group {
    display: flex;
    hr {
      background: #6f52ed;
      width: 1px;
      border: 1px solid $primary;
      border-right: unset;
      border-left: unset;
    }
    .button {
      &--ico {
        border: 1px solid $primary;
        border-radius: 5px 0 0 5px;
        border-right: unset;
        width: 42px;
        height: 28px;
        &._right {
          border-right: 1px solid $primary;
          border-left: unset;
          border-radius: 0 5px 5px 0;
        }
        .ico {
          width: 8px;
          color: #5c6b91;
          svg {
            fill: currentColor;
          }
        }
        &:hover {
          background: $primary;
          .ico {
            color: $white;
          }
        }
      }
    }
  }
}
.notifications {
  width: 420px;
  display: flex;
  position: relative;
  z-index: 2;
  padding-right: 5px;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  &__drivers {
    padding: 12px 10px 12px 30px;
    border-radius: 16px;
    border: 1px solid rgba(#d9e1e7, 0.8);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: $white;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h5 {
        color: $black;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      gap: 40px;
      .avatar {
        font-size: 19px;
      }
    }
    &-box {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .text {
        font-size: 12px;
        color: #06152b;
        &--primary {
          color: $blue-11;
        }
      }
    }
    &-group {
      display: flex;
      gap: 30px;
      margin-left: auto;
      .button {
        color: $blue-11;
        .ico {
          transition: unset;
        }
        &:hover {
          color: $orange;
        }
      }
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
      max-height: 168px;
      overflow: auto;
      padding-right: 20px;
    }
  }
  &__events {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 10px 30px 30px;
    background: $white;
    border-radius: 15px;
    flex-grow: 1;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .buttonText {
        font-weight: 400;
      }
    }
    &-body {
      display: flex;
      flex-direction: column;
      gap: 14px;
      h4 {
        color: #585861;
        font-weight: 400;
      }
    }
    &-item {
      padding: 12px 18px;
      border-radius: 10px;
      background: rgba($orange-2, 0.3);
      display: flex;
      flex-direction: column;
      gap: 8px;
      h5 {
        color: $primary;
      }
      .text {
        font-size: 15px;
        color: #24242c;
        display: block;
        font-weight: 400;
        &._bottom {
          margin-top: 8px;
        }
      }
      strong {
        color: $primary;
        font-size: 17px;
      }
    }
    &-box {
      display: flex;
      align-items: center;
      max-width: 308px;
      width: 100%;
      justify-content: space-between;
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      overflow: auto;
      padding-right: 20px;
      flex: 1 0 0;
    }
  }
}
.button {
  &._hdie {
    display: none;
  }
}

@mixin calendar-1830 {
  .notifications {
    width: 370px;
  }
  .calendar {
    &--notifications {
      width: calc(100% - 370px);
    }
  }
  .date--lg {
    min-width: 200px;
  }
}
@mixin calendar-1660 {
  .calendar {
    &--notifications {
      width: calc(100% - 74px);
    }
  }
  .notifications {
    position: fixed;
    right: 0;
    top: 93px;
    width: 100%;
    height: calc(100% - 93px);
    z-index: 8;
    &__inner {
      width: 400px;
      background: $white-2;
      padding: 0 0 0 10px;
    }
  }
  .button {
    &._hdie {
      display: flex;
    }
  }
}

@mixin calendar-1025 {
  .calendar {
    &__inner {
      &-header {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        .date {
          position: unset;
          transform: unset;
          align-self: center;
        }
      }
    }
  }
}
@mixin calendar-650 {
  .calendar {
    &__inner {
      &-header {
      }
      &-date {
        gap: 20px;
        h3 {
          font-size: 20px;
        }
      }
    }
  }
}
