.contact {
  max-width: 1856px;
  width: 100%;
  margin-right: auto;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    &-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
  }
  &Content {
    width: calc(52% - 5px);
    background: $white;
    padding: 12px;
    &__header {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;
      max-width: 700px;
      flex-wrap: wrap;
      .input {
        width: calc(62% - 6px);
      }
      h4 {
        color: $primary;
        padding: 6px 20px 6px;
      }
    }
    &__image {
      width: 100%;
      position: relative;
      .ratioImage {
        width: 69%;
        margin: 0 auto;
        padding-bottom: 52.3%;
      }
      h4 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__currency {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 33px 16px;
      border-radius: 5px;
      border: 3px solid $white-4;
      gap: 40px;
      &-item {
        width: calc(42% - 15px);
        gap: 5px;
        display: flex;
        flex-direction: column;
        .input {
          input {
            width: 160px;
          }
          &--checkBox {
            margin-top: 20px;
          }
        }
        &._lg {
          width: calc(58% - 15px);
          display: flex;
          align-items: center;
          flex-direction: row;
          .input {
            width: 100%;
            align-items: center;
            gap: 6px;
            input {
              width: 100%;
            }
            label {
              font-size: 1em;
              color: $primary;
            }
          }
        }
        h2 {
          color: $primary;
          width: 32%;
        }
      }
    }
  }
  &Form {
    width: calc(48% - 5px);
    background: $white;
    padding: 18px 44px;
    &__header {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-bottom: 35px;
      h2 {
        color: $primary;
        opacity: 0.5;
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      gap: 18px;
      h2 {
        margin-bottom: 10px;
        color: $primary;
      }
    }
  }
  .dropdown {
    width: calc(38% - 6px);
    font-size: 13px;
    position: relative;
    z-index: 2;
    &__button {
      background: $primary;
      padding: 1.1em 2em 0.9em 2.6em;
      border-radius: 5px;
      @include transition;
      p {
        color: $white;
        font-weight: 700;
      }
      .ico {
        width: 1em;
        height: 1em;
      }
    }
    &__content {
      padding: 1.1em 2em 0.9em 2.6em;
      background: $primary;
      border: unset;
      border-radius: 0 0 5px 5px;
      p {
        color: $white;
        font-weight: 700;
      }
    }
    &:hover {
      .dropdown {
        &__button {
          border-radius: 5px 5px 0 0;
        }
      }
    }
  }
}
.condition {
  width: 100%;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &-content {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .button {
        width: 340px;
        padding: 0.95em 1.5em;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  &Box {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 1em;
    background: $white;
    padding: 2.3em 2.3em 2.3em;
    &__image {
      width: 3em;
      height: 3em;
      border-radius: 5px;
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
      .ico {
        width: 2.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-right: 10px;
      h4 {
        color: $orange;
      }
      p {
        font-size: 0.7em;
        color: $blue-5;
      }
    }
  }
  &Body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    background: $white;
    padding: 14px 30px 25px;
    &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 24px;
      width: 100%;
      &-item {
        width: calc(33% - 15px);
        max-width: 386px;
        &._lg {
          max-width: unset;
          width: 100%;
        }
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      h4 {
        color: $black !important;
      }
      .button {
        justify-content: flex-start;
      }
    }
    h4 {
      color: $orange;
    }
  }
  h2 {
    color: $primary;
    padding: 12px 30px;
  }
}
.info {
  width: 100%;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    &-row {
      background: $white;
      padding: 18px 32px 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 18px;
    }
  }
  h2 {
    color: $primary;
  }
  &Column{
    width: calc(50% - 10px);
    max-width: 620px;
    display: flex;
    flex-direction: column;
    gap:15px ;
  }
}
.sideSpace {
  padding-left: 326px;
}
.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  &__row {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 1px;
    gap: 2px;
    background: $blue-4;
    border-radius: 4px;
    &._links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      background: $white;
      padding: 1.5em 1.8em;
      width: 100%;
    }
  }
  &Link {
    color: $primary;
    font-size: inherit;
    @include transition;
    &.active {
      text-decoration: underline;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

@mixin index-1900 {
  .contact {
    &Content {
      &__currency {
        flex-direction: column;
        gap: 20px 0;
        &-item {
          width: 100%;
          justify-content: space-between;
          gap: 20px 10px;
          .input {
            font-size: 23px;
            justify-content: space-between;
            &--checkBox {
              margin-top: 0;
            }
            input {
              width: calc(100% - 200px);
              padding: 0.7em 1.2em 0.6em 1.2em;
              font-size: 1em;
            }
          }
          &._lg {
            width: 100%;
            .input {
              input {
                font-size: 1em;
                width: calc(100% - 200px);
                padding: 0.7em 3em 0.6em 1.2em;
              }
              .currency {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}
@mixin index-1700 {
  .contact {
  }
  .sideSpace {
    padding-left: 300px;
  }
}
@mixin index-1660 {
  .contact {
    &Form {
      padding: 12px 20px;
    }
  }
  .sideSpace {
    padding-left: 0;
  }
}
@mixin index-1500 {
}
@mixin index-1440 {
  .contact {
    &Form {
      &__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        h2 {
          padding: 9px 0;
        }
      }
    }
    &Content {
      &__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        .input {
          width: 100%;
        }
      }
      &__currency {
        &-item {
          .input {
            font-size: 20px;
          }
        }
      }
    }
    .dropdown {
      width: 100%;
    }
  }
}
@mixin index-1180 {
  .contact {
    &Form {
      &__header {
      }
      &__body {
        gap: 12px;
      }
    }
    &Content {
      &__currency {
        &-item {
          .input {
            font-size: 18px;
          }
        }
      }
    }
  }
}
@mixin index-1100 {
}
@mixin index-1025 {
  .contact {
    &__inner {
      &-row {
        flex-direction: column;
        gap: 30px;
      }
    }
    &Content {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      &__header {
        max-width: unset;
      }
    }
    &Form {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }
  }
  .tabs {
    &__row {
      &._links {
        font-size: 14px;
      }
    }
  }
}
@mixin index-880 {
  .contact {
    &__inner {
    }
  }
  .tabs {
    &__row {
      &._links {
        flex-wrap: wrap;
        gap: 20px 10px;
        justify-content: flex-start;
      }
    }
    &Link {
      width: calc(33.3% - 10px);
    }
  }
}

@mixin index-650 {
  .contact {
    &Content {
      &__image {
        .ratioImage {
          width: 80%;
        }
      }
      &__currency {
        padding: 15px;
        .input {
          font-size: 16px;
        }
      }
    }
  }
}
@mixin index-580 {
  .contact {
    &__inner {
      gap: 25px;
    }

    &Content {
      &__image {
        .ratioImage {
          width: 85%;
        }
      }
      &__currency {
        .input {
          font-size: 14px;
        }
      }
    }
  }
  .tabs {
    gap: 30px;
    &Link {
      width: calc(50% - 10px);
    }
  }
}
@mixin index-480 {
  .contact {
    &__inner {
      gap: 25px;
      flex-direction: column;
    }

    &Content {
      &__image {
        .ratioImage {
          width: 90%;
        }
        h4 {
          width: 100%;
          text-align: center;
        }
      }
      &__currency {
        &-item {
          .input {
            font-size: 12px;
            input {
              width: calc(100% - 100px);
            }
          }
          &._lg {
            .input {
              input {
                width: calc(100% - 100px);
              }
            }
          }
        }
      }
    }
  }
  .tabs {
    &Link {
      width: 100%;
    }
  }
}
