.carList {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__row {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 15px;
    border: 1px solid rgba($gray, 0.5);
    &-image {
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-body {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: calc(100% - 330px);
      &-info {
        font-size: 24px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        h2 {
          font-size: 1em;
          padding-right: 50px;
        }
        h6 {
          font-size: 0.7em;
          color: $orange;
          span {
            color: $green;
          }
        }
        p {
          font-size: 0.8em;
          line-height: 1.4;
          font-weight: 400;
          color: $gray;
        }
      }
      &-box {
        display: flex;
        gap: 15px;
        justify-content: flex-end;
      }
      &-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
      }
    }
    &-delete {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 0 !important;
      color: $red;
      @include transition;

      &:hover {
        color: $orange;
      }
    }
  }
  .button {
    font-size: 18px;
    padding: 0.5em 1em;
  }
}
@media (max-width: 1025px) {
  .list {
    &Item {
      &__image {
        width: 250px;
      }
      &__body {
        width: calc(100% - 270px);
        &-info {
          font-size: 22px;
        }
      }
    }
  }
  .autoContainer {
    padding: 0 20px;
  }
}
@media (max-width: 760px) {
  .list {
    &__inner {
      &-row {
        overflow: auto;
      }
    }
    &Item {
      min-width: 620px;
      &__image {
        width: 200px;
      }
      &__body {
        width: calc(100% - 220px);
        &-info {
          font-size: 20px;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  .autoContainer {
    padding: 0 15px;
  }
}
