.list {
  padding: 34px 0;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 18px;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        color: $primary;
        width: calc(30% - 10px);
      }
    }
    &-box {
      display: flex;
      justify-content: flex-end;
      gap: 6px;
      width: calc(70% - 10px);
      .input {
        &--search {
          max-width: 440px;
          input {
            padding: 0.75em 2em 0.75em 1em;
            &::placeholder {
              color: $blue-5;
            }
            &:focus {
              border-color: $primary;
            }
          }
          .ico {
            cursor: pointer;
            width: 1em;
            height: 1em;
            left: unset;
            right: 15px;
            @include transition;
            svg {
              stroke: transparent;
              fill: $primary;
            }
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
    &-table {
      height: calc(100vh - 132px);
      overflow: hidden;
      background: $white;
      font-size: 16px;
      padding: 0.4em ;
      border-radius: 1em;
      box-shadow: 0px 4px 10px 0px rgba(24, 95, 118, 0.1);
      &-wrapper {
        height: 100%;
        overflow: auto;
        font-size: inherit;
      }
    }
  }
}
.table {
  width: 100%;
  font-size: 1em;
  padding: 1em ;
  thead {
    position: sticky;
    top: -1px;
    z-index: 4;
    background: $white;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 8px;
      background: rgba(24, 95, 118, 0.12);
      pointer-events: none;
    }
  }
  tbody {
    tr {
      position: relative;
      &:first-child {
        &:after {
          height: calc(100% - 0.5em);
        }
        td {
          padding: 1.25em 0.875em 1.125em 0.875em;
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 8px 8px 0px 0px;
        background: rgba(245, 246, 250, 0.5);
        pointer-events: none;
        display: none;
      }
      &:nth-child(odd) {
        &::after {
          display: block;
        }
      }
    }
  }
  th {
    padding: 1.125em;
    font-weight: 700;
    color: $primary;
    font-size: 1em;
    text-align: left;
    white-space: nowrap;
    &.more {
      display: none;
    }
  }
  td {
    white-space: nowrap;
    padding: 0.875em 1.125em;
    position: relative;
    z-index: 2;
    font-size: 1em;
    font-weight: 400;
    color: rgba($black-4, 0.65);
    @include transition;
    &.more {
      display: none;
    }
    &.active {
      z-index: 3;
    }
  }
  .title {
    font-weight: 700;
    color: $primary;
    font-size: 1em;
    text-align: left;
    display: none;
  }
  &__box {
    display: flex;
    flex-direction: column;
    position: relative;
    &-wrapper {
      display: flex;
      gap: 5px;
      align-items: center;
      transition: 0.3s ease-in-out;
      &._tabContent {
        opacity: 0;
        max-height: 0;
        pointer-events: none;
        // position: absolute;
        // top: 100%;
        &.active {
          opacity: 1;
          pointer-events: all;
          max-height: 500px;
          margin-top: 5px;
          // position: unset;
        }
      }
    }
    .button {
      .text {
        &:nth-child(2) {
          display: none;
        }
      }
      .ico{
        svg{
          stroke: unset;
        }
      }
      &.active {
        .text {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            display: block;
          }
        }
        .ico {
          transform: rotate(180deg);
        }
      }
    }
  }
}
@mixin table-1440 {
  .list {
    .autoContainer {
      padding: 0 20px;
    }
  }
}
@mixin table-1025 {
  .list {
    &__inner {
      &-header {
        .button {
          font-size: 13px;
        }
        .input {
          font-size: 14.8px;
        }
      }
    }
    .autoContainer {
      padding: 0 15px;
    }
  }
}
@mixin table-750 {
  .list {
    padding: 20px 0;
    &__inner {
      gap: 15px;
      &-header {
        flex-direction: column;
        gap: 20px;
        h2 {
          width: 100%;
        }
      }
      &-box {
        width: 100%;
        justify-content: flex-start;
        .input {
          max-width: unset;
        }
      }
      &-table {
        height: calc(100vh - 140px);
        background: unset;
        border-radius: unset;
        box-shadow: unset;
      padding: 0;
      }
    }
  }
  .table {
    display: flex;
    padding: 0 0.2em;
    thead {
      display: none;
    }
    tbody {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      tr {
        &:first-child {
          &:after {
            height: 100%;
          }
        }
      }
    }
    tr {
      display: flex;
      flex-direction: column;
      background: $white !important;
      border-radius: 16px;
      box-shadow: 0px 4px 10px 0px rgba(24, 95, 118, 0.1);
      padding: 1.375em 0.7em 0.1em;
      &:after {
        display: none !important;
      }
    }
    td {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      text-align: right;
      transition: 0.3s ease;
      padding: 0.357em 0 !important;
      border-bottom: 1px solid;
      border-color: rgba($black-4, 0.05);
      &:nth-child(6) {
        justify-content: flex-end;
      }
      &:nth-child(7) {
        border-bottom: unset;
        padding: 0.625em 0 !important;
      }
      br {
        display: none;
      }
      &.more {
        display: flex;
        justify-content: center;
        font-size: 1em;
        color: $primary;
        padding: 0.357em;
        font-weight: 700;
        text-align: center;
        span {
          &:nth-child(1) {
            display: block;
          }
          &:nth-child(2) {
            display: none;
          }
        }
        &.active {
          span {
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              display: block;
            }
          }
        }
      }
      &.tabContent {
        opacity: 0;
        max-height: 0;
        padding: 0 !important;
        &.active {
          opacity: 1;
          max-height: 500px;
          padding: 0.357em 0 !important;
        }
      }
    }
    .title {
      display: block;
      font-weight: 500;
      font-size: 0.875em;
    }
    &__box {
      .button {
        .text {
          display: none !important;
        }
        &--dropdown {
          font-size: 14px;
          padding: 0.5em;
          width: 2.5em;
          height: 2.5em;
          .ico{
            width: 10px;
          }
        }
      }
    }
  }
}
@mixin table-480 {
  .list {
    .autoContainer {
      padding: 0 10px;
    }
  }
  .table {
    tr {
      padding: 0.4em 0.7em 0.1em;
      border-radius: 10px;
      min-width: 290px;
    }
    td {
      flex-direction: column;
      gap: 5px;
      &:nth-child(6) {
        align-items: flex-end;
      }
      &:nth-child(7) {
        align-items: center;
      }
    }
    .title {
      color: rgba($primary, 0.6);
    }
  }
}
