.list {
  padding: 34px 0;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 18px;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        color: $primary;
        width: calc(30% - 10px);
      }
    }
    &-box {
      display: flex;
      justify-content: flex-end;
      gap: 6px;
      width: calc(70% - 10px);
      .input {
        &--search {
          max-width: 440px;
          input {
            padding: 0.75em 2em 0.75em 1em;
            &::placeholder {
              color: $blue-5;
            }
          }
          .ico {
            cursor: pointer;
            width: 1em;
            height: 1em;
            left: unset;
            right: 15px;
            @include transition;
            svg {
              stroke: transparent;
              fill: $primary;
            }
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
    &-table {
      height: calc(100vh - 132px);
      overflow: auto;
    }
  }
}
.table {
  width: 100%;
  font-size: 16px;
  padding: 0.93em 1.25em;
  border-radius: 1em;
  background: $white;
  box-shadow: 0px 4px 10px 0px rgba(24, 95, 118, 0.1);
  thead {
    position: sticky;
    top: -1px;
    z-index: 3;
    background: $white;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 8px;
      background: rgba(24, 95, 118, 0.12);
      pointer-events: none;
    }
  }
  tbody {
    tr {
      position: relative;
      &:first-child {
        &:after {
          height: calc(100% - 0.5em);
        }
        td {
          padding: 1.25em 0.875em 1.125em 0.875em;
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 8px 8px 0px 0px;
        background: rgba(245, 246, 250, 0.5);
        pointer-events: none;
        display: none;
      }
      &:nth-child(odd) {
        &::after {
          display: block;
        }
      }
    }
  }
  th {
    padding: 1.125em;
    font-weight: 700;
    color: $primary;
    font-size: 1em;
    text-align: left;
    white-space: nowrap;
    &.more {
      display: none;
    }
  }
  td {
    white-space: nowrap;
    padding: 0.875em 1.125em;
    position: relative;
    z-index: 2;
    font-size: 1em;
    font-weight: 400;
    color: rgba($black-4, 0.65);
    &.more {
      display: none;
    }
  }
  .title {
    font-weight: 700;
    color: $primary;
    font-size: 1em;
    text-align: left;
    display: none;
  }
  &__box {
    display: flex;
    gap: 5px;
  }
}
@mixin table-1440 {
  .list {
    .autoContainer {
      padding: 0 20px;
    }
  }
  .table {
    font-size: 14px;
  }
}
@mixin table-1025 {
  .list {
    &__inner {
      .button {
        font-size: 13px;
      }
      .input {
        font-size: 14.8px;
      }
    }
    .autoContainer {
      padding: 0 15px;
    }
  }
}
@mixin table-750 {
  .list {
    padding: 20px 0;
    &__inner {
      gap: 10px;
      &-header {
        flex-direction: column;
        gap: 20px;
        h2 {
          width: 100%;
        }
      }
      &-box {
        width: 100%;
        justify-content: flex-start;
        .input {
          max-width: unset;
        }
      }
      &-table {
        height: calc(100vh - 135px);
      }
    }
  }
  .table {
    display: flex;
    thead {
      display: none;
    }
    tbody {
      width: 100%;
      display: flex;
      flex-direction: column;
      tr {
        &:first-child {
          &:after {
            height: 100%;
          }
          td {
            padding: 1em 1.1em;
          }
        }
      }
    }
    tr {
      display: flex;
      flex-direction: column;
    }
    td {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      text-align: right;
      padding: 1em 1.1em;
      transition: 0.3s ease;
      &:first-child {
        padding: 1.5em 1.1em 1em;
      }
      &:last-child {
        justify-content: flex-end;
      }
      &.more {
        display: flex;
        justify-content: flex-end;
      }
      &.tabContent {
        opacity: 0;
        max-height: 0;
        padding: 0 1.1em !important;
      }
    }
    .title {
      display: block;
    }
  }
}
